
html{
    scroll-behavior: smooth;
}



#home .container .row{ 
    min-height: 100vh;
    
}

#home h1{
    color: white;
    font-size: 56px;
    padding: 10px;
}

#home p{
    color: white;
    font-size: 36px;
    padding-bottom: 7px;
}

.caixa{
    padding: 20px 20px;
 
 }

.custom-link {
    font-size: 17px;
    background-color: #222E78; 
    color: #fff; 
    padding: 13px 20px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-decoration: none;
}
.custom-link:hover {
    background-color: #222d78e0; 
    color: #fff; 
}

.planet-list{
    list-style: none;
    flex-wrap:  nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.planet-list li{
    margin: 10px ;
    cursor: pointer;
    transition: all 1s;
    width: 20%;
    display: flex;
    
}

.planet-list li a{
    display: flex;
    justify-content: center;
    align-items: center;
}



.planet-list li .sol{
    width: 130%;
}

.planet-list li .mercurio{
    width: 30%;
}

.planet-list li .venus{
    width: 50%;
}

.planet-list li .terra{
    width: 60%;
}

.planet-list li .marte{
    width: 40%;
}

.planet-list li .jupiter{
    width:90%;
}

.planet-list li .saturno{
    width: 100%;
}

.planet-list li .urano{
    width: 55%;
}

.planet-list li .netuno{
    width: 50%;
}

.bg-gradient-azul{
    background: #27338A;
    background: radial-gradient(circle, #27338af8 0%, rgb(0, 0, 0) 74%);
}



.planet-list li a img:hover {
    transform: scale(1.2);
    border: #fff 3px dashed;
    border-radius: 50%;
    padding: 2%;
    transition: all 0.3s;
}
.planet-list li a:focus img, .active img{
    transform: scale(1.2);
    border: #f1c915e1 3px dashed;
    border-radius: 50%;
    padding: 2%;
}

#planetas .container{
    flex-direction: column;
    justify-content: start ;
    align-items: start;
}

#planetas .nav-tabs{
    border: none !important;
}

.nav-link {
    background-color: transparent !important;
    border: none !important;
}

.tab-content .active{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    
}

.tab-content .active{
    background: rgba( 201, 201, 201, 0.1 );
    box-shadow: 0 8px 28px 0 rgba(115, 117, 139, 0.37);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav-link:hover {
    background-color: transparent !important;
    border: none !important;
}


.tab-content h1{
    color: white;
    font-size: 33px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    font-family: 'Lato', sans-serif;
}

.tab-content p{
    text-align: justify;
    font-size: 16px;
    padding: 1px 5px;
    word-spacing: 0.5px;
    letter-spacing: 0.4px;
    font-family: 'roboto', sans-serif;
    
}

.tab-content .titulo-principal{
    font-size: 43px;
    
}


.tab-content{
    color: white;
}

#noticias .titulo-noticias{
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}

.bg-noticias{
    background-image: url(../../assets/imagens/fundoEstrelaRoxa.jpg);
    background-size: contain;
}

#noticias .card{
    color: white;
    background-color: #222d7891;
    min-height: 100%;
   
}

.card-body h5{
    font-family: 'Libre Baskerville', serif;
}

.card-body p{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 15px;
}

.card-body a{
    text-decoration: none;
    color: rgb(148, 129, 241);
    padding: 0;
}

@media (max-width: 480px) {
    iframe{
        width: 350px;
        height: 220px;
    }
    
    #home h1{
        color: white;
        font-size: 42px;
        padding: 10px;
    }
    
    #home p{
        color: white;
        font-size: 24px;
        padding-bottom: 5px;
    }

    .planet-list{
        list-style: none;
        flex-wrap:  wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }
    
    .planet-list li{
        margin: 10px ;
        cursor: pointer;
        transition: all 1s;
        width: 15%;
        display: flex;
        
    }
    
    .planet-list li a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .planet-list li a:focus img, .active img{
        transform: scale(1.2);
        border: #f1c915e1 1px dashed;
        border-radius: 50%;
        padding: 2%;
    }

    .planet-list li .sol{
        width: 100%;
        
        
    }
    
    .planet-list li .mercurio{
        width: 45%;
    }
    
    .planet-list li .venus{
        width: 65%;
    }
    
    .planet-list li .terra{
        width: 75%;
    }
    
    .planet-list li .marte{
        width: 55%;
    }
    
    .planet-list li .jupiter{
        width:95%;
    }
    
    .planet-list li .saturno{
        width: 100%;
    }
    
    .planet-list li .urano{
        width: 60%;
    }
    
    .planet-list li .netuno{
        width: 55%;
    }

    

    .tab-content h1{
        color: white;
        font-size: 28px;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        font-family: 'Lato', sans-serif;
    }
    
    .tab-content p{
        text-align: justify;
        font-size: 15px;
        padding: 1px 20px;
        word-spacing: 0.5px;
        letter-spacing: 0.4px;
        font-family: 'roboto', sans-serif;
        
    }
    
    .tab-content .titulo-principal{
        font-size: 35px;
        
    }

    #noticias .titulo-noticias{
        font-size: 22px;
        font-family: 'Lato', sans-serif;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    iframe{
        width: 350px;
        height: 220px;
    }
    #home h1{
        color: white;
        font-size: 44px;
        padding: 10px;
    }
    
    #home p{
        color: white;
        font-size: 26px;
        padding-bottom: 5px;
    }

    .planet-list{
        list-style: none;
        flex-wrap:  wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }
    
    .planet-list li{
        margin: 10px ;
        cursor: pointer;
        transition: all 1s;
        width: 15%;
        display: flex;
        
    }
    
    .planet-list li a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .planet-list li a:focus img, .active img{
        transform: scale(1.2);
        border: #f1c915e1 2px dashed;
        border-radius: 50%;
        padding: 2%;
    }

    .planet-list li .sol{
        width: 100%;
        
        
    }
    
    .planet-list li .mercurio{
        width: 40%;
    }
    
    .planet-list li .venus{
        width: 60%;
    }
    
    .planet-list li .terra{
        width: 70%;
    }
    
    .planet-list li .marte{
        width: 50%;
    }
    
    .planet-list li .jupiter{
        width:90%;
    }
    
    .planet-list li .saturno{
        width: 100%;
    }
    
    .planet-list li .urano{
        width: 55%;
    }
    
    .planet-list li .netuno{
        width: 50%;
    }


    .tab-content h1{
        color: white;
        font-size: 30px;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        font-family: 'Lato', sans-serif;
    }
    
    .tab-content p{
        text-align: justify;
        font-size: 15px;
        padding: 1px 20px;
        word-spacing: 0.5px;
        letter-spacing: 0.4px;
        font-family: 'roboto', sans-serif;
        
    }
    
    .tab-content .titulo-principal{
        font-size: 37px;
        
    }

    #noticias .titulo-noticias{
        font-size: 23px;
        font-family: 'Lato', sans-serif;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 1024px) {
    iframe{
        width: 500px;
        height: 300px;
    }
    #home h1{
        color: white;
        font-size: 47px;
        padding: 10px;
    }
    
    #home p{
        color: white;
        font-size: 30px;
    }

    #noticias .titulo-noticias{
        font-size: 25px;
        font-family: 'Lato', sans-serif;
    }

    .planet-list{
        list-style: none;
        flex-wrap:  wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }
    
    .planet-list li{
        margin: 10px ;
        cursor: pointer;
        transition: all 1s;
        width: 15%;
        display: flex;
        
    }
    
    .planet-list li a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .planet-list li a:focus img, .active img{
        transform: scale(1.2);
        border: #f1c915e1 2px dashed;
        border-radius: 50%;
        padding: 2%;
    }
    



    .tab-content h1{
        color: white;
        font-size: 32px;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        font-family: 'Lato', sans-serif;
    }
    
    .tab-content p{
        text-align: justify;
        font-size: 16px;
        padding: 1px 20px;
        word-spacing: 0.5px;
        letter-spacing: 0.4px;
        font-family: 'roboto', sans-serif;
        
    }
    
    .tab-content .titulo-principal{
        font-size: 39px;
        
    }
    
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 1025px) and (max-width: 1440px) {
    iframe{
        width: 550px;
        height: 350px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1441px) {
	iframe{
        width: 600px;
        height: 400px;
    }
}